*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
    width: 100%;
}